.custom-spoiler {
	background: rgb(175, 175, 175);
	margin-top: 50px;
	padding: 10px;
	border: 1px;
	box-shadow: inset 0 0 10px #000;
	-moz-box-shadow: inset 0 0 10px #000;
}
.spoiler {
	background: #eee;
	border: 1px solid black;
	padding: 20px;
	margin: 0px;
}

.special-button {
	background: black;
	color: white;

}

.spoiler-button {
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;

}


.spoiler-button:hover {
	background: black;
	color: white;
	border: 1px solid red;
	border-radius: 5px;
	
}
button {display: block;}